<h1>Search characters</h1>
<form class="" method="POST" action="/">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="name" placeholder="Darth Vader">
    </div>
    <input type="submit" class="btn btn-primary" value="search">
</form>
<div class="list-wrapper">
{{#each characters}}
    <div class="row list-item">
        <ul class="col-sm-3 details">
            <li>Name: {{ name }}</li>
            <li>Birth year: {{ birth_year }}</li>
            <li>Gender: {{ gender }}</li>
            <li>Height: {{ height }}</li>
            <li>Mass: {{ mass }}</li>
        </ul>
        <div class="col-sm-3">
            <div>
                <a href="/edit/{{ key }}" class="btn-edit">Edit</a>
            </div>
            <div>
                <span onclick="deleteFnt('{{ key }}')" class="btn-delete">Delete</span>
            </div>
        </div>
    </div>
{{/each}}
</div>
